@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.editor {
    max-width: 600px;
    width: 80vw;
    height: 287px;
}

.previwer {
    max-width: 800px;
    width: 90vw;
    min-height: 40vh;
    background-color: #C0D8D8;
}

.top-bar {
    width: 100%;
    height: 35px;
    background-color: #499F9F;
}

textarea {
    width: 100%;
    min-height: 250px;
    border: none;
    resize: none;
    background-color: #C0D8D8;
}

textarea:focus {
    outline: 0;
}

#preview {
    width: 100%;
    height: 100%;
}

#preview img {
    width: 80%
}